.bg-color {
  background: #d5a235;
}
.text-color1 {
  /* background: url("../Assets/bg.png"); */
  color: #dca937;
}
.text-color2 {
  /* background: url("../Assets/bg.png"); */
  color: #728196;
}
.fillIcon {
  fill: #374151;
}
